### Load libraries

In [1]:
import pandas as pd
from IPython import display

import os 
import sys

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.__version__

'1.1.3'

In [3]:
#!pwd
print(os.getcwd())

C:\Users\rohan\Documents\UNI\Year 4\GDP\Git\gdp-wild-dogs

### Checking OS system 
- slight difference in file path for different OS systems:
    - linux: '/home/user/Data'
    - windows: 'C:\\user\\Data'

In [4]:
os_system = sys.platform
if os_system.startswith('win'):
    os_system = 'windows'
print('OS System: ', os_system)

OS System:  windows

### List Directory Tree

In [5]:
def list_files(startpath):
    for root, dirs, files in os.walk(startpath):
        level = root.replace(startpath, '').count(os.sep)
        indent = ' ' * 4 * (level)
        print('{}{}/'.format(indent, os.path.basename(root)))
        subindent = ' ' * 4 * (level + 1)
        for f in files:
            print('{}{}'.format(subindent, f))

In [6]:
list_files(os.path.join(os.getcwd(), 'Data'))

Data/
    2020-11-05/
        .~lock.labels.csv#
        201105_807d3a2a0fe8_xyz.pkl
        cut.pkl
        cutoff.txt
        labels.csv
        raw.pkl
    2020-11-16/
        201116_807d3a2a0fe8_xyz.pkl
        cut.pkl
        cutoff.txt
        labels.csv
        raw.pkl
    2020-11-23/
        201123_807d3a2a0fe8_xyz.pkl
        cut.pkl
        cutoff.txt
        raw.pkl
    2020-11-26/
        201126_807d3a2a0fe8_xyz.pkl
        raw.pkl
    2020-11-27/
        201127_807d3a2a0fe8_xyz.pkl
        raw.pkl
    2020-11-28/
        201128_807d3a2a0fe8_xyz.pkl
        raw.pkl

 ### Loading pkl files into DFs

In [7]:
dfList=[]
csvDFList=[]

# Directories are according to git's file structure 
# [Linux] ./gdp-wild-dogs/Data/
if os_system == 'linux':
    filepath = './Data'
    pathstyle = '/'
elif os_system == 'windows':
    filepath = 'Data'
    pathstyle = '\\'

#Store pkl from each day in df in list
for subdir, dirs, files in os.walk(filepath):
    for filename in os.listdir(subdir):
        if filename == "cut.pkl":
            df = pd.read_pickle(subdir+pathstyle+ filename)
            df.reset_index(inplace=True)
            dfList.append(df)
        if filename == "labels.csv":
            df = pd.read_csv(subdir+pathstyle+filename)
            df.reset_index(inplace=True)
            csvDFList.append(df)
print("Number of data files:")
print(len(dfList))

Number of data files:
3

In [8]:
for df in dfList:
    if(len(df["dt"]) > 0):
        print(str(df["dt"][0])[0:10])
        display.display(df.describe())

2020-11-05

,index,acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z,ms_counter,seq_counter
count,5.160300e+04,51603.000000,51603.000000,51603.000000,51603.000000,51603.000000,5.160300e+04,5.160300e+04,51603.000000
mean,1.776850e+06,-593.534077,-282.372672,-607.041606,-1613.547274,-4044.129508,-5.850420e+03,5.655464e+05,24.494913
std,1.489665e+04,924.074716,738.856394,893.257968,133615.227727,106539.700871,1.288504e+05,5.078591e+05,14.426775
min,1.751049e+06,-7994.000000,-7860.000000,-7989.000000,-982590.000000,-714070.000000,-9.460500e+05,5.993000e+03,0.000000
25%,1.763950e+06,-883.000000,-656.000000,-901.000000,-62930.000000,-56280.000000,-5.950000e+04,2.839230e+05,12.000000
50%,1.776850e+06,-499.000000,-339.000000,-525.000000,-70.000000,-3640.000000,-3.360000e+03,5.419330e+05,24.000000
75%,1.789750e+06,-117.000000,67.000000,-132.000000,58170.000000,44380.000000,4.704000e+04,7.999430e+05,37.000000
max,1.802651e+06,4713.000000,7825.000000,4820.000000,912170.000000,814030.000000,1.127840e+06,7.196453e+06,49.000000

2020-11-16

,index,acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z,ms_counter,seq_counter
count,134699.000000,134699.000000,134699.000000,134699.000000,1.346990e+05,1.346990e+05,134699.000000,1.346990e+05,134699.000000
mean,211600.000000,642.965122,0.948908,-666.393091,5.265697e+02,2.265346e+02,1981.559588,4.237993e+06,24.498274
std,38884.396292,552.142585,534.946670,507.614990,1.046683e+05,7.050509e+04,93278.141436,7.776879e+05,14.425461
min,144251.000000,-6648.000000,-6295.000000,-7421.000000,-1.238860e+06,-1.342670e+06,-858620.000000,2.891013e+06,0.000000
25%,177925.500000,455.000000,-341.000000,-792.000000,-3.780000e+04,-2.408000e+04,-33180.000000,3.564503e+06,12.000000
50%,211600.000000,608.000000,-45.000000,-641.000000,3.500000e+02,-2.800000e+02,1540.000000,4.237993e+06,24.000000
75%,245274.500000,772.000000,303.000000,-512.000000,3.766000e+04,2.254000e+04,35980.000000,4.911483e+06,37.000000
max,278949.000000,7546.000000,6607.000000,5288.000000,1.342320e+06,1.083390e+06,974050.000000,5.584973e+06,49.000000

2020-11-23

,index,acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z,ms_counter,seq_counter
count,96299.000000,96299.000000,96299.000000,96299.000000,96299.000000,96299.000000,96299.000000,9.629900e+04,96299.000000
mean,188259.000000,685.967123,184.909885,-585.422839,-2062.369339,-342.111652,1764.676518,4.134299e+07,24.495041
std,27799.271124,394.235820,441.988140,306.318561,66914.127434,57204.250937,62732.408114,5.559854e+05,14.422804
min,140110.000000,-2221.000000,-2775.000000,-5617.000000,-475650.000000,-425810.000000,-480060.000000,4.038001e+07,0.000000
25%,164184.500000,483.000000,-70.000000,-747.000000,-37590.000000,-29890.000000,-32410.000000,4.086150e+07,12.000000
50%,188259.000000,658.000000,227.000000,-572.000000,-2660.000000,-630.000000,280.000000,4.134299e+07,24.000000
75%,212333.500000,859.000000,481.000000,-422.000000,33320.000000,27580.000000,34790.000000,4.182448e+07,37.000000
max,236408.000000,5081.000000,3849.000000,1198.000000,599200.000000,616980.000000,586670.000000,4.230597e+07,49.000000

In [9]:
#Remove all over redundant data for testing
# REMOVE ON FURTHER DEVELOPMENT!
dfList = dfList[0:2]

In [10]:
for df in csvDFList:
    df.describe()
    print(str(df["start_time"][0])[0:10] + " Labels Loaded")
    print(df.head())
    print()

for df in dfList:
    if(len(df["dt"]) > 0):
        print(str(df["dt"][0])[0:10] + " Clipped Device Data Loaded")
        print(df.head())
        print()

2020-11-05 Labels Loaded
   index                  start_time                    end_time   activity
0      0  2020-11-05 14:10:31.999742  2020-11-05 14:10:32.880472    jumping
1      1  2020-11-05 14:10:33.001560  2020-11-05 14:10:34.082089    jumping
2      2  2020-11-05 14:11:06.622403  2020-11-05 14:11:12.468232  galloping
3      3  2020-11-05 14:11:23.355164  2020-11-05 14:11:25.097815    sitting
4      4  2020-11-05 14:11:25.771735  2020-11-05 14:11:26.317840    jumping

2020-11-16 Labels Loaded
   index                  start_time                    end_time  activity
0      0  2020-11-16 10:58:40.662769  2020-11-16 10:58:59.467566  sniffing
1      1  2020-11-16 10:58:59.870234  2020-11-16 11:00:36.154043   walking
2      2  2020-11-16 11:00:36.344424  2020-11-16 11:00:56.899489   playing
3      3  2020-11-16 11:00:59.721018  2020-11-16 11:01:05.510005   walking
4      4  2020-11-16 11:01:10.834737  2020-11-16 11:01:20.306164   walking

2020-11-05 Clipped Device Data Loaded
     index                               dt  acc_x  acc_y  acc_z  gyro_x  \
0  1751049 2020-11-05 14:10:18.020000+00:00   -486    161      5 -243390
1  1751050 2020-11-05 14:10:18.040000+00:00   -182    274    213 -303520
2  1751051 2020-11-05 14:10:18.060000+00:00      9   -152    122 -179830
3  1751052 2020-11-05 14:10:18.080000+00:00     74   -426    208  -32340
4  1751053 2020-11-05 14:10:18.100000+00:00    503    160    476  -22470

   gyro_y  gyro_z  ms_counter  seq_counter
0  152180  103110     7192493            0
1  109270  184800     7192513            1
2   18970  207550     7192533            2
3  -38080   67900     7192553            3
4  -56980  -47180     7192573            4

2020-11-16 Clipped Device Data Loaded
    index                               dt  acc_x  acc_y  acc_z  gyro_x  \
0  144251 2020-11-16 10:48:09.020000+00:00    986   -393   -562  -88550
1  144252 2020-11-16 10:48:09.040000+00:00   1163   -291   -913  -99960
2  144253 2020-11-16 10:48:09.060000+00:00   1309     75  -1267 -122150
3  144254 2020-11-16 10:48:09.080000+00:00   1460    218  -1618 -131320
4  144255 2020-11-16 10:48:09.100000+00:00   1917    232  -2052  -70910

   gyro_y  gyro_z  ms_counter  seq_counter
0 -145390 -111230     2891013           20
1 -112210 -106050     2891033           21
2  -54320 -149730     2891053           22
3   52570 -174790     2891073           23
4  188090 -130830     2891093           24

In [11]:
def label_data(dfList, csvDFList):
    labelledDFList = []
    for dfIndex in range(0, len(dfList)):
        labels = []
        df = dfList[dfIndex]
        if('activity' in df.columns):
            df.drop('activity', 1, inplace=True)
        labelledDFList.append(df)
        csv = csvDFList[dfIndex]
        intervalIndex = 0
        intervalBegin = pd.to_datetime(csv['start_time'][intervalIndex], utc=True)
        intervalEnd = pd.to_datetime(csv['end_time'][intervalIndex], utc=True)
        for i in range(0, len(df)):
            time = pd.to_datetime(df['dt'][i])
            while(time > intervalEnd):
                if(intervalIndex + 1 >= len(csv)):
                    break
                intervalIndex += 1
                intervalBegin = pd.to_datetime(csv['start_time'][intervalIndex], utc=True)
                intervalEnd = pd.to_datetime(csv['end_time'][intervalIndex], utc=True)
            if(time > intervalEnd or time < intervalBegin):
                labels.append("None")
            else:
                labels.append(csv["activity"][intervalIndex])
        labelledDFList[dfIndex]["activity"] = labels
    return labelledDFList

labelledDFList = label_data(dfList, csvDFList)

In [12]:
for i in range(0,len(labelledDFList)):
    labelledDFList[i].drop(labelledDFList[i].index[labelledDFList[i]['activity'] == 'None'], inplace = True)
    
merged_data = pd.concat(labelledDFList)
display.display(merged_data)

,index,dt,acc_x,acc_y,acc_z,gyro_x,gyro_y,gyro_z,ms_counter,seq_counter,activity
249,1751298,2020-11-05 14:10:32+00:00,561,-479,-169,232470,94780,155610,6993,8,jumping
250,1751299,2020-11-05 14:10:32.020000+00:00,457,-288,-324,242690,93450,138600,7013,9,jumping
251,1751300,2020-11-05 14:10:32.040000+00:00,233,-168,-562,241080,102480,134820,7033,10,jumping
252,1751301,2020-11-05 14:10:32.060000+00:00,35,-50,-651,218540,114170,115780,7053,11,jumping
253,1751302,2020-11-05 14:10:32.080000+00:00,-40,99,-845,205240,135310,89320,7073,12,jumping
...,...,...,...,...,...,...,...,...,...,...,...
134694,278945,2020-11-16 11:33:02.900000+00:00,-533,-1066,472,-77280,-115430,-3010,5584893,0,galloping
134695,278946,2020-11-16 11:33:02.920000+00:00,-272,-928,137,16660,-180110,-63700,5584913,1,galloping
134696,278947,2020-11-16 11:33:02.940000+00:00,10,-1524,-266,18760,-117600,-24780,5584933,2,galloping
134697,278948,2020-11-16 11:33:02.960000+00:00,220,-966,-371,39550,-45080,19880,5584953,3,galloping
134698,278949,2020-11-16 11:33:02.980000+00:00,89,-377,-97,142380,-7070,61670,5584973,4,galloping

In [13]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [14]:
X = merged_data[["acc_x","acc_y","acc_z","gyro_x","gyro_y","gyro_z"]]

display.display(X)

y = merged_data[["activity"]]

display.display(y)

        acc_x  acc_y  acc_z  gyro_x  gyro_y  gyro_z
249       561   -479   -169  232470   94780  155610
250       457   -288   -324  242690   93450  138600
251       233   -168   -562  241080  102480  134820
252        35    -50   -651  218540  114170  115780
253       -40     99   -845  205240  135310   89320
...       ...    ...    ...     ...     ...     ...
134694   -533  -1066    472  -77280 -115430   -3010
134695   -272   -928    137   16660 -180110  -63700
134696     10  -1524   -266   18760 -117600  -24780
134697    220   -966   -371   39550  -45080   19880
134698     89   -377    -97  142380   -7070   61670

[95544 rows x 6 columns]

         activity
249       jumping
250       jumping
251       jumping
252       jumping
253       jumping
...           ...
134694  galloping
134695  galloping
134696  galloping
134697  galloping
134698  galloping

[95544 rows x 1 columns]

In [15]:
X = StandardScaler().fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=42)

In [16]:
names = ["Nearest Neighbors", "Linear SVM", "RBF SVM", #"Gaussian Process",
         "Decision Tree", "Random Forest", #"Neural Net", 
         "AdaBoost",
         "Naive Bayes", "QDA"]

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
    #GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    #MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(),
    GaussianNB(),
    QuadraticDiscriminantAnalysis()]

In [17]:
for name, clf in zip(names, classifiers):
    
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    print(name,"Score: ", score,"\n")

<ipython-input-17-c43bfce4182a>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  clf.fit(X_train, y_train)

Nearest Neighbors Score:  0.703516667538856

C:\Users\rohan\Anaconda3\envs\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Linear SVM Score:  0.5110680831022032

C:\Users\rohan\Anaconda3\envs\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

RBF SVM Score:  0.7197917211785023

Decision Tree Score:  0.5875503689361035

<ipython-input-17-c43bfce4182a>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train, y_train)

Random Forest Score:  0.5823172327175676

C:\Users\rohan\Anaconda3\envs\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

AdaBoost Score:  0.4839342718090952

C:\Users\rohan\Anaconda3\envs\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Naive Bayes Score:  0.5885969961798105

C:\Users\rohan\Anaconda3\envs\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

QDA Score:  0.6146056831859333